@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 0, 0;
  --background-hex: #131313;
  --text-main: 244, 244, 244;
  --secondary-color: #FB6E3B;
  --disabled: #606060;
  --white-transparent: #ffffff24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
  color: rgb(var(--text-main));
}

h1{
  @apply font-extrabold text-4xl;
}

h2{
  @apply font-medium text-2xl;
}

h3{
  @apply font-bold text-lg;
}

h4{
  @apply font-bold text-base;
}

h5{
  @apply font-bold text-sm;
}

h6{
  @apply font-normal text-xs;
}

nav {
  @apply w-full h-[80px] p-2;
  border-bottom: 1px solid #3E3E3E;
}

.nav_elements {
  @apply flex w-full h-full m-auto justify-between lg:max-w-4xl lg:w-11/12 items-center lg:justify-start ;
}

.nav_content {
  @apply lg:items-center lg:justify-between;
}

.nav_btn {
  padding: 10px;
  border-radius: 120px;
  background: var(--secondary-color);
}

.hero_section {
  background-image: url(/hero.svg), url(/cloud.svg);
  background-size: 100%, 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.hero_text {
  max-width: 45%;
  text-align: center;
}

.hero_text-title {
  line-height: 42px;
}

.intro_title-heading {
  @apply text-center text-3xl font-medium capitalize mt-10;
}

.intro_title-subhead {
  @apply text-center text-3xl font-medium capitalize mt-2;
  color: var(--secondary-color);
}

.intro_title p {
  @apply text-center text-base font-normal mt-3 mx-auto;
}

.intro_img  {
  margin: 2rem auto;
  /* width: 50%; */
}


.custom-img {
  object-fit: contain;
  width: 100%!important;
  position: relative;
}

.brands {
  width: 100%;
}

.brands::-webkit-scrollbar {
  display: none;
}

.image-box {
  background: black;
  width: 250px;
  height: 100px;
  padding: 10px;
  flex: 0 0 auto;
  @apply rounded-2xl;
}

.image-box img {
  width: 100%;
  filter: brightness(0.5);
  position: relative!important;
}

.card-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px;
}

.card {
  flex: 0 0 auto;
  width: 350px;
  padding: 20px;
  margin-right: 10px;
  background: #2e2e2e45;
  color: #fff;
  scroll-snap-align: center;
  transition: background-color 0.3s ease;
}

.card_number {
  font-size: 72px;
  line-height: 100px;
}

.card_img svg {
  width: 100%;
  height: 100%;
}

.services_container {
  padding: 2rem 0px;
  text-align: center;
  height: 500px;
  background-image: url(/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position-y: -300px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.center-card {
  background-color: white;
  color: black;
}

.about-container {
  background-image: url(/stars-rope.svg);
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-size: contain;
}

.history {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 4fr);
}

.history2 {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 6fr);
}

.history2 .card {
  width: 100%;
}

.first_card.card {
  border-radius: 30px 150px 30px 30px;
  background: #C2B3D8;
  color: #252525;
}

.card.center {
  border-radius: 40px 30px 30px 30px;
  background: var(--2, #FB6E3B);
  color: #252525;
}

.card.right {
  border-radius: 180px 30px 30px 30px;
  background: #FDD47A;
  color: #252525;
}

.card.left {
  border-radius: 30px 210px 30px 30px;
  background: #FFF;
  color: #252525;
}

.portfolio_first-row .title_card, .portfolio_second-row .title_card {
  border-radius: 150px;
  padding: 50px 60px;
}

.explore_btn {
  width: 170px;
  background: black;
  padding: 20px;
  position: absolute;
  bottom: 15px;
  left: 30%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.explore {
  width: 170px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.portfolio_first-row .img_card img {
  border-radius: 20px;
}

.updates_work {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 4fr);
}

.update_card-btn button {
  filter: drop-shadow(2.121000051498413px 2.121000051498413px 6px rgba(3, 21, 50, 0.05));
}

.nav_tab {
  @apply w-full md:max-w-3xl mx-auto bg-black rounded-3xl p-5 mt-5 text-center;
}

.nav_tab {
  color: var(--disabled);
}

.nav_tab .active {
  color: #fff;
}

.section_wrapper {
  height: auto;
  background-repeat: no-repeat;
}


.section_container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 6fr);
}

.section_container .section_right {
  display: grid;
  gap: 5px;
  justify-items: center;
  grid-template-columns: repeat(3, 2fr);
}


.services_mini_card {
  background-color: var(--white-transparent);
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-list {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 30rem;
  background-color: #000;
}


.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  border-bottom: 1px solid var(--secondary-color);
}

.tab-content {
  padding: 10px;
}

.process_card {
  @apply flex justify-center md:justify-between gap-5 mt-10 md:w-10/12 md:mx-auto flex-wrap;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 150px;
  text-wrap: balance;
}

@media screen and (max-width: 768px) {
  .hero_text {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .section_container {
    grid-template-columns: repeat(1, 12fr);
  }

  .section_container .section_right {
    grid-template-columns: repeat(2, 6fr);
  }

  .tab-list {
    padding: 10px;
  }
}